In [20]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format='retina'

In [21]:
PATH = os.getcwd()
data_path = os.path.join(PATH, 'zt_databaseเพิ่มข้อมูล_ลองตัดใหม่(2)230221.csv')

df = pd.read_csv(data_path)
print(f'Original DataFrame shape: {df.shape}')

Original DataFrame shape: (263, 13)

In [22]:
df.head(10)

,Material,zt,nomalized_zt,k(W/m-k),nomalized_k,Conductivity(S/cm),nomalized_c,S(__V/K),nomalized_s,calculated_zt,normalized_calculated_zt,cop_normalized_calculated_zt,error_zt
0,Bi1Cu1Se1O1,0.92,1.000000,0.7223,1.000000,446.126,1.000000,146.245,1.000000,0.926019,1.000000,1.000000,0.7
1,Bi0.98Sn0.02Cu1Se1O1,0.71,0.771739,0.8563,1.185518,407.910,0.914338,145.164,0.992608,0.703678,0.759896,0.759896,-0.9
2,Bi0.96Sn0.04Cu1Se1O1,0.67,0.728261,1.0033,1.389035,426.163,0.955253,150.029,1.025874,0.670214,0.723758,0.723758,0.0
3,Bi0.94Sn0.06Cu1Se1O1,0.66,0.717391,0.8823,1.221515,275.277,0.617039,171.110,1.170023,0.640357,0.691516,0.691516,-3.0
4,Bi0.92Sn0.08Cu1Se1O1,0.64,0.695652,0.8887,1.230375,333.028,0.746489,157.056,1.073924,0.647967,0.699733,0.699733,1.2
5,Bi0.985Na0.015Cu1Se1O1,0.38,1.000000,0.5433,1.000000,28.186,1.000000,321.839,1.000000,0.376157,1.000000,1.000000,-1.0
6,Bi0.945Na0.015Pb0.04Cu1Se1O1,0.51,1.342105,0.6412,1.180195,132.948,4.716810,187.644,0.583037,0.511041,1.358584,1.358584,0.2
7,Bi0.925Na0.015Pb0.06Cu1Se1O1,0.49,1.289474,0.7006,1.289527,188.525,6.688604,161.782,0.502680,0.493012,1.310654,1.310654,0.6
8,Bi0.905Na0.015Pb0.08Cu1Se1O1,0.54,1.421053,0.6774,1.246825,244.681,8.680941,147.126,0.457142,0.547308,1.454999,1.454999,1.4
9,Bi1Cu1Se1O1,0.25,1.000000,0.6095,1.000000,23.705,1.000000,314.713,1.000000,0.269646,1.000000,1.000000,7.9

In [23]:
df.describe()

,zt,nomalized_zt,k(W/m-k),nomalized_k,Conductivity(S/cm),nomalized_c,S(__V/K),nomalized_s,calculated_zt,normalized_calculated_zt,cop_normalized_calculated_zt,error_zt
count,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000
mean,0.423626,1.947604,0.594267,1.129162,78.266772,5.831487,268.858850,0.796145,0.404922,2.049474,2.049474,-2.663498
std,0.223017,1.964852,0.131145,0.233386,94.261637,9.033946,73.280930,0.216919,0.217921,2.105232,2.105232,23.796864
min,0.005403,0.108696,0.319400,0.667832,1.198471,0.152454,127.321000,0.314023,0.004966,0.101627,0.101627,-66.200000
25%,0.268921,1.000000,0.513647,1.000000,21.406000,1.000000,206.871831,0.617644,0.262708,1.000000,1.000000,-2.850000
50%,0.380000,1.408365,0.587700,1.076153,37.785000,2.729229,268.632371,0.804085,0.352489,1.441708,1.441708,-0.500000
75%,0.570000,2.125000,0.664700,1.244576,94.089769,6.574987,330.541500,1.000000,0.529820,2.259668,2.259668,1.000000
max,1.190000,19.142857,1.031600,2.372332,589.981000,60.230769,427.054000,1.846172,1.188089,19.827788,19.827788,293.000000

In [30]:
df2 = df.copy()

df2.drop(df.columns[[1,2,3,5,7, 9,10,12]], axis =1 , inplace = True)

In [31]:
df2

,Material,nomalized_k,nomalized_c,nomalized_s,cop_normalized_calculated_zt
0,Bi1Cu1Se1O1,1.000000,1.000000,1.000000,1.000000
1,Bi0.98Sn0.02Cu1Se1O1,1.185518,0.914338,0.992608,0.759896
2,Bi0.96Sn0.04Cu1Se1O1,1.389035,0.955253,1.025874,0.723758
3,Bi0.94Sn0.06Cu1Se1O1,1.221515,0.617039,1.170023,0.691516
4,Bi0.92Sn0.08Cu1Se1O1,1.230375,0.746489,1.073924,0.699733
...,...,...,...,...,...
258,Bi0.96Pb0.04Cu1Se1O1,1.792035,7.286577,0.581866,1.376647
259,Bi0.98Pb0.02Cu0.98Ag0.02Se1O1,1.285398,3.224591,0.802173,1.614258
260,Bi0.96Pb0.04Cu0.96Ag0.04Se1O1,1.415929,5.520727,0.671787,1.759617
261,Bi0.94Pb0.06Cu0.94Ag0.06Se1O1,1.389381,7.576571,0.581866,1.846279
262,Bi0.92Pb0.08Cu0.92Ag0.08Se1O1,1.721239,9.701018,0.527913,1.570728

In [32]:
rename_dict = {'Material' : 'formula',
               'nomalized_k': 'k',
               'nomalized_c':'c',
               'nomalized_s':'s',
               'cop_normalized_calculated_zt':'zt'
           }
df2 = df2.rename(columns=rename_dict)
df2.columns

Index(['formula', 'k', 'c', 's', 'zt'], dtype='object')

In [33]:
df2.head(5)

                formula         k         c         s        zt
0           Bi1Cu1Se1O1  1.000000  1.000000  1.000000  1.000000
1  Bi0.98Sn0.02Cu1Se1O1  1.185518  0.914338  0.992608  0.759896
2  Bi0.96Sn0.04Cu1Se1O1  1.389035  0.955253  1.025874  0.723758
3  Bi0.94Sn0.06Cu1Se1O1  1.221515  0.617039  1.170023  0.691516
4  Bi0.92Sn0.08Cu1Se1O1  1.230375  0.746489  1.073924  0.699733

In [34]:
out_path = os.path.join(PATH, 'zt_data_cleaned.csv')
df2.to_csv(out_path, index=False)

In [ ]:
df2.drop()